Skip to content
 
Search Gists
Search...
All gists
Back to GitHub
@Voisterouslife
Voisterouslife/config.yaml Secret
Last active 4 minutes ago
Code
Revisions
16
Clone this repository at &lt;script src=&quot;https://gist.github.com/Voisterouslife/85a200f98142c715faf6dc2a4fade27d.js&quot;&gt;&lt;/script&gt;
<script src="https://gist.github.com/Voisterouslife/85a200f98142c715faf6dc2a4fade27d.js"></script>
config.yaml
mixed-port: 7890
redir-port: 7891
tproxy-port: 1536
allow-lan: true
ipv6: true
mode: Rule
#mode: direct/rule/global
log-level: warning
#silent/error/warning/info/debug
geodata-mode: true
geodata-loader: memconservative
#standard 标准/ memconservative 内存受限(小内存)设备优化的加载器(默认值)
unified-delay: true
tcp-concurrent: true
external-controller: 0.0.0.0:9090
#面板默认Meta 可选Yacd 清除浏览器缓存即可重新加载
external-ui: /data/adb/box_bll/panel/Meta/ #/Meta/Yacd
secret: ""
external-ui-url: "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip" # 自定义外部用户界面下载地址,此处metacubexd
enable-process: true
find-process-mode: strict
global-client-fingerprint: chrome
#global-ua: "Mozilla/5.0; AppleWebKit/537.36; Chrome/91.0.4472.114; Safari/537.36; Shadowrocket/1.9.7; meta/1.0.0; Sing/1.1.0" # 全局 UA ,默认clash.meta
keep-alive-interval: 30
#控制 Clash 发出 TCP Keep Alive 包的间隔，减少移动设备耗电问题的临时措施。
#TCP Keep Alive 间隔,单位分钟。此时 Clash 发现并关闭一个无效 TCP 连接用时： 1*keep-alive-interval + 9*keep-alive-interval

geox-url:
  geosite: "https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat"
  geoip: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip-lite.dat"
  mmdb: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb"
  asn: "https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb"
geo-auto-update: true # 自动更新 GEO 是否启用,可选 true/false
geo-update-interval: 24 # 更新间隔,单位小时


geoip:
  patch: ./ASN.mmdb


profile:
  store-selected: true
  store-fake-ip: false


sniffer:
  enable: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  skip-domain:
    - Mijia Cloud


tun:
  enable: true
  device: Meta
  stack: mixed
  dns-hijack:
    - 'any:53'
    - 'tcp://any:53'
  auto-route: true
  auto-redirect: true
  auto-detect-interface: true


dns:
  enable: true
  ipv6: true
  listen: 0.0.0.0:1053
  use-hosts: false
  default-nameserver:
    - 119.29.29.29
    - 8.8.8.8
    - 1.1.1.1
  nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - "*"
    - +.lan
    - +.local
    - time.*.com
    - ntp.*.com
    - +.market.xiaomi.com
  enhanced-mode: fake-ip
  use-system-hosts: false
  proxy-server-nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
  respect-rules: false
  fallback: []
  fallback-filter: {}

p: &p
  {type: http, interval: 86400, health-check: {enable: true, url: https://www.gstatic.com/generate_204, interval: 300}}
u: &u
  use:
  - 机场1
  - 机场2


proxy-providers:
  机场1:
    <<: *p
    url: ""
    path: ./proxy_providers/sub1.yaml
  机场2:
    <<: *p
    url: ""
    path: ./proxy_providers/sub2.yaml
    #注意！如果您的订阅链接中带有“&”字符，请删掉.


proxy-groups:
   - {name: 守候网络, use: [机场1], type: select, proxies: [全球直连],
     icon: "https://raw.githubusercontent.com/lige47/QuanX-icon-rule/main/icon/shouhou(4).png"}
   - {name: Cloudflare优选, use: [机场2], type: select, proxies: [全球直连],
     icon: "https://raw.githubusercontent.com/xushier/HD-Icons/main/circle/Cloudflare_B.png"}
   - {name: 游戏代理, type: select, proxies: [守候网络,Cloudflare优选,全球直连], <<: *u,
     icon: "https://raw.githubusercontent.com/lige47/QuanX-icon-rule/master/icon/game.png"}
   - {name: 下载, type: select, proxies: [守候网络,Cloudflare优选,全球直连], <<: *u,
     icon: "https://raw.githubusercontent.com/lige47/QuanX-icon-rule/main/icon/direct.png"}
   - {name: Google FCM, type: select, proxies: [守候网络,Cloudflare优选,全球直连], <<: *u,
     icon: "https://raw.githubusercontent.com/lige47/QuanX-icon-rule/main/icon/google(1).png"}
   - {name: Ai, type: select, proxies: [守候网络,Cloudflare优选,全球直连], <<: *u,
     icon: "https://raw.githubusercontent.com/lige47/QuanX-icon-rule/main/icon/ChatGPT-green.png"}
   - {name: Emby, type: select, proxies: [守候网络,Cloudflare优选,全球直连], <<: *u,
     icon: "https://raw.githubusercontent.com/lige47/QuanX-icon-rule/main/icon/emby.png"}
   - {name: 漏网之鱼, type: select, proxies: [守候网络,Cloudflare优选,全球直连], <<: *u,
     icon: "https://raw.githubusercontent.com/lige47/QuanX-icon-rule/main/icon/omofun.png"}
   - {name: 全球直连, type: select, proxies: [DIRECT],
     icon: "https://raw.githubusercontent.com/Orz-3/mini/master/Color/Global.png"}


rule-providers:
    Google FCM:
      type: http
      behavior: classical
      format: yaml
      path: ./rule/Google FCM.yaml
      url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GoogleFCM/GoogleFCM.yaml"
    Download:
      type: http
      behavior: classical
      format: yaml
      path: ./rule/Download.yaml
      url: "https://raw.githubusercontent.com/Voisterouslife/Meta-rules/main/rules/download.yaml"
    Game:
      type: http
      behavior: classical
      format: yaml
      path: ./rule/Game.yaml
      url: "https://raw.githubusercontent.com/Voisterouslife/Meta-rules/main/rules/game.yaml"
    Direct:
      type: http
      behavior: classical
      format: yaml
      path: ./rule/Direct.yaml
      url: "https://raw.githubusercontent.com/Voisterouslife/Meta-rules/main/rules/direct.yaml"
    Openai:
      type: http
      behavior: classical
      format: yaml
      path: ./rule/Openai.yaml
      url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/OpenAI/OpenAI.yaml"
      interval: 86400  
    Copilot:
      type: http
      behavior: classical
      format: yaml
      path: ./rule/Copilot.yaml
      url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Copilot/Copilot.yaml"
      interval: 86400  
    Claude:
      type: http
      behavior: classical
      format: yaml
      path: ./rule/Claude.yaml
      url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Claude/Claude.yaml"
      interval: 86400  
    Gemini:
      type: http
      behavior: classical
      format: yaml
      path: ./rule/Gemini.yaml
      url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Gemini/Gemini.yaml"
      interval: 86400                    
    Emby:
      type: http
      behavior: classical
      format: yaml
      path: ./rule/Emby.yaml
      url: "https://raw.githubusercontent.com/Voisterouslife/Meta-rules/main/rules/emby.yaml"
      interval: 86400      


rules:
    - AND,((PROCESS-NAME,mihomo),(NOT,((IN-TYPE,inner)))),REJECT
    - AND,((PROCESS-NAME,clash),(NOT,((IN-TYPE,inner)))),REJECT
    - RULE-SET,Google FCM,Google FCM
    - RULE-SET,Download,下载
    - RULE-SET,Direct,全球直连
    - RULE-SET,Game,游戏代理
    - RULE-SET,Emby,Emby
    - RULE-SET,Openai,Ai
    - RULE-SET,Copilot,Ai
    - RULE-SET,Claude,Ai
    - RULE-SET,Gemini,Ai
    - GEOSITE,CN,全球直连,no-resolve
    - GEOIP,CN,全球直连,no-resolve
    - MATCH,漏网之鱼
